{
  "env": {
    "amd": true,
    "browser": true,
    "mocha": false,
    "node": false
  },
  "globals": {
    "$": false,
    "_": false,
    "Backbone": false,
    "BlinkForms": true,
    "BMP": true,
    "Mustache": false,
    "Promise": false
  },
  "rules": {
    "no-mixed-spaces-and-tabs": [2],
    "no-underscore-dangle": 0,
    "quotes": [1, "single", "avoid-escape"]
  }
}
