.DS_Store
/server/key.pem
/server/cert.pem

# JetBrains files
/*.iml
/.idea

# output files
dist
/js
versions
tests/support/bic.js

# 3rd-party files
bower_components
node_modules

src/frag/05-implementations.js
tests/implementations.js
