{
  "extends": ["@jokeyrhyme/es5"],
  "env": {
    "amd": true,
    "browser": true,
    "mocha": true,
    "node": false
  },
  "globals": {
    /* Blink */
    "BMP": true,
    "BlinkForms": true,
  },
  "rules": {
    /* Possible Errors */
    "valid-jsdoc": 0, /* TODO: 2 */
    /* Best Practices */
    "no-param-reassign": 0, /* TODO: 2 */
    /* Variables */
    "no-undefined": 0, /* TODO: 2 */
    /* Node.JS */
    "no-sync": 2
  }
}
