<!DOCTYPE html>
<html>
<head>
  <title>{{answerSpace.displayName}}</title>
  <meta name="viewport" content="initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  {{&answerSpace.styleSheets_html}}

  <style>
    .blink-star-on, .blink-star-off { display: inline-block; margin: .1em; width: 32px; height: 32px; background-color: transparent; }
    .blink-star-on { background-image: url(/gfx/star-on32.png); }
    .blink-star-off { background-image: url(/gfx/star-off32.png); }
    #FormPageCount > .ui-controlgroup-controls {width: 100%; }
    #FormPageCount a {width: 33%; }
    .googlemap { width: 100%; height: 360px; }
  </style>

  {{#answerSpace.styleSheet}}
    <style>{{&.}}</style>
  {{/answerSpace.styleSheet}}

  <script>
    window.BMP = {
      env: {{& answerSpace.env_json}},
      BIC: {
        siteVars: {
          answerSpaceId: {{answerSpace.id}},
          answerSpace: '{{answerSpace.name}}'
        },
        isBlinkGap: /BlinkGap\//i.test('{{_SESSION.HTTP_USER_AGENT}}')
      }
    };
  </script>
  <!-- inject BlinkGap initialisation code here -->
  <script id="bmp-blinkgap-js"></script>
</head>
<body>
  <noscript>You currently have JavaScript disabled. This application requires JavaScript to work correctly.</noscript>
  <div data-role="page" id="temp">Loading, please wait.</div>
  {{&answerSpace.scripts_html}}
</body>
</html>
