{
  "env": {
    "amd": true,
    "mocha": true
  },
  "globals": {
    "assert": true,
    "expect": false,
    "requirejs": false,
    "sinon": true
  },
  "rules": {
    "accessor-pairs": 0,
    "no-console": 0,
    "no-invalid-this": 0,
    "no-sync": 0,
    "spaced-comment": 0
  }
}
