<h2>Pending Items</h2>
<ul>
{{#pending}}
  <li>{{status}} {{type}} - {{name}}</li>
{{/pending}}
</ul>
{{^pending}}
  Nothing to see here :(
{{/pending}}

<h2>Draft Items</h2>
<ul>
{{#draft}}
  <li>{{status}} {{type}} - {{name}}</li>
{{/draft}}
</ul>
{{^draft}}
  Nothing to see here :(
{{/draft}}