<div id="pendingPopup" data-role="popup">
  <div data-role="header">
    <h1>Pending Queue</h1>
  </div>
  <div id="pendingContent" data-role="content">
    <ul data-role="listview">
      {{#validationPresent}}<li data-role="list-divider">Failed Validation</li>{{/validationPresent}}
      {{#validation}}
      <li>
        <div>
          <h2>{{label}}</h2>
          <div data-role="controlgroup" data-type="horizontal" style="width: 100%;">
            <a data-onclick="clearPendingItem" _pid="{{_id}}" data-role="button" style="width: 49%;">Clear</a>
            <a interaction="{{editInteraction}}" _pid="{{_id}}" data-role="button" style="width: 49%;">Edit</a>
          </div>
        </div>
      </li>
      {{/validation}}

      <li data-role="list-divider">Pending</li>
      {{#pending}}
      <li>
        <div>
          <h2>{{label}}</h2>
        </div>
      </li>
      {{/pending}}
      {{#pendingPresent}}
      <li>
        <a data-onclick="submitPendingItems" href="#">Submit All</a>
      </li>
      {{/pendingPresent}}
      {{^pending}}<li>No items pending transmission to server</li>{{/pending}}

      <li data-role="list-divider">Draft</li>
      {{#draft}}
      <li>
        <div>
          <h2>{{label}}</h2>
          <div data-role="controlgroup" data-type="horizontal" style="width: 100%;">
            <a data-onclick="clearPendingItem" _pid="{{_id}}" data-role="button" style="width: 49%;">Clear</a>
            <a interaction="{{editInteraction}}" _pid="{{_id}}" data-role="button" style="width: 49%;">Edit</a>
          </div>
        </div>
      </li>
      {{/draft}}
      {{#draftPresent}}
      <li>
        <a data-onclick="clearPendingItemsConfirmation" href="#">Clear All</a>
      </li>
      {{/draftPresent}}
      {{^draft}}<li>No items saved as draft.</li>{{/draft}}
    </ul>
  </div>
</div>
