<div id="clearConfirmationPopup" data-role="popup">
  <div data-role="header">
    <h1>Clear All Drafts</h1>
  </div>
  <div data-role="content">
    <h3>Are you sure you want to delete all drafts?</h3>
    <div data-role="controlgroup" data-type="horizontal" style="width: 100%;">
      <a href="#" id="clearPendingItems" data-role="button" style="width: 49%;">Delete</a>
      <a href="#" data-role="button" data-rel="back" style="width: 49%;">Cancel</a>
    </div>
  </div>
</div>
