{{#pages}}
<div id="FormPageCount" data-role="controlgroup" data-type="horizontal">
  <a id="previousFormPage" data-role="button" data-icon="back" {{^previous}}class="ui-disable"{{/previous}} style="width: 32%" data-iconpos="left">&nbsp;</a>
  <a data-role="button" style="width: 33%"><span id="currentPage">{{current}}</span> of <span id="totalPages">{{total}}</span></a>
  <a id="nextFormPage" data-role="button" data-icon="forward" {{^next}}class="ui-disable"{{/next}} style="width: 32%" data-iconpos="right">&nbsp;</a>
</div>
{{/pages}}

<div id="FormControls" data-role="controlgroup" data-type="horizontal" style="width: 100%;">
    <a id="close" data-role="button" data-icon="delete" data-iconpos="top" style="width: 49%;">Close</a>
    <a id="submit" data-role="button" data-icon="check" data-iconpos="top" style="width: 49%;">Submit</a>
</div>

<div id="closePopup" data-role="popup" data-dismissible="false" data-overlay-theme="a" data-theme="c">
  <div data-role="header">
    <h1>Close</h1>
  </div>
  <div data-role="content">
    <h3>Are you sure you want to close this form?</h3>
    <div data-role="controlgroup" data-type="horizontal" style="width: 100%;">
      <a href="#" id="save" data-role="button" data-rel="save" style="width: 49%;">Save</a>
      <a href="#" id="discard" data-role="button" data-rel="delete" style="width: 49%;">Discard</a>
    </div>
    <a data-role="button" data-rel="back">Cancel</a>
  </div>
</div>
